@use '@angular/material' as mat;
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "~@angular/material/theming";
@include mat-core();
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$theming-material-components-primary: mat-palette($mat-teal);
$theming-material-components-accent: mat-palette($mat-orange, A200, A100, A400);
$theming-material-components-warn: mat-palette($mat-red);

$theming-material-components-theme: mat-dark-theme(
    $theming-material-components-primary,
    $theming-material-components-accent,
    $theming-material-components-warn
);

@include angular-material-theme($theming-material-components-theme);


$custom-typography: mat.define-typography-config($font-family: 'Montserrat');
@include mat.core($custom-typography);


.mat-sidenav-container{
  background: #000000;
  border: none;
}

.mat-drawer {
  background: #202020;
  border: none;
  width: 215px !important;
  height: 555px;
  border-radius: 16px;
  margin-left: 0.7%;
  margin-top: 10%;
}

.mat-toolbar.mat-primary {
  background: #0F0F0F;
  display: none;
}
// Fix Icon sizes used in card avatars
mat-icon[mat-card-avatar],
.mat-card-avatar-icon {
  font-size: 40px !important;
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  margin-top: 1px;
  margin-right: -3px;
  margin-left: 2px;
}

.mat-card {  
  background-color: #202020;
  color: white;
  transition: background-color 0.3s;
  margin: 10px !important; 
  border-radius: 16px !important;
}

.mat-card-title {
  font-size: 20px !important;
  margin: 10px !important;
}

.mat-card-content {
  margin: 10px !important;
}

.mat-typography-p {
  margin: 10px !important;
}

.text-justify {
  margin: 10px !important;
}


.mat-card-subtitle {
  margin-left: 10px !important;
}

.mat-stroked-button {
  margin-left: 10px !important;
}

.mat-button-base {
  margin-left: 10px !important;
}

.mat-form-field-outline {
  margin-left: 10px !important;
}